header {
    text-align: center;
    font-size: 36pt;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-weight: bold;
}

.btn {
    font-size: 16pt;
    border-radius: 5px;
    padding: 0 60px;
    margin-top: 5px;
    color: white;
    background:#3f87a6;
    
    left:30px;
    border-bottom: 2px solid black;
}

.search-bar {
    font-size: 16pt;
    margin-left:5px;
    margin-bottom: 5px;
    padding: 0 20px;
}

.card {
    display: flex;
    background: darkgrey;
}

.card-header {
    display:inline-flex
}




.five-day {
    position: relative;
    top:250px;
    left: 250px;
}

.five-day h3 {
    position:relative;
    bottom: 50px;
    left: 200px;
}